
// Backgrounds
$body-bg: #fff;

// Brands
$brand-primary: #fff;
$brand-info: #fff;
$brand-success: #fff;
$brand-warning: #fff;
$brand-danger: #fff;

// Typography
$font-family: 'Open Sans', sans-serif;
$font-size: 14px;
$line-height: 1.6;
$text-colour: #333;
$font-weight: 400;

// Nav
$font-size-nav: 0.7em;

// Request
$request-default-bg: #D16B5D;

// Buttons
$btn-default-colour: $text-colour;

// Inputs
$input-border: lighten($text-colour, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-colour-placeholder: lighten($text-colour, 30%);
